<% @healthy.each do |healthy| %>
  <h4 class="f3 fw6 lh-title black ttu">
    <%= link_to healthy, class: "link pointer dim brand" do %>
      <%= healthy.name %>
      <span class="gray f7 ttl underline">View all</span>
    <% end %>
  </h4>
  <% healthy.articles.last(3).each do |article| %>
    <%= render article %>
  <% end %>
<% end %>
<% @wealthy.each do |wealthy| %>
  <h4 class="f3 fw6 lh-title black ttu">
    <%= link_to wealthy.name, wealthy, class: "link pointer brand" %>
    <span class="gray f7"><%= wealthy.slogan %></span>
  </h4>
  <% wealthy.articles.last(3).each do |article| %>
    <%= render article %>
  <% end %>
<% end %>
<% @wise.each do |wise| %>
  <h4 class="f3 fw6 lh-title black ttu">
    <%= link_to wise.name, wise, class: "link pointer brand" %>
    <span class="gray f7"><%= wise.slogan %></span>
  </h4>
  <% wise.articles.last(3).each do |article| %>
    <%= render article %>
  <% end %>
<% end %>
