<h1 class="f4 fw6 black mb4">Join a community of Healthy, Wealthy & Wise passionates</h1>
<h4 class="f3 fw6 ttu black pa0">Login</h4>
<article class="bg-white pa3 mb3 ba b--light-gray">
  <div class="cf measure db center f5 f4-ns lh-copy">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="fl w-100 pa2">
        <label for="email" class="f6 fw6 black">E-mail</label>
        <%= f.input_field :email, required: true, autofocus: true, label: false, class: "input-reset ba b--black-20 pa2 db w-100 f5 fw6" %>
      </div>
      <div class="fl w-100 pa2">
        <label for="password" class="f6 fw6 black">Password</label>
        <%= f.input_field :password, required: true, label: false, class: "input-reset ba b--black-20 pa2 db w-100 f5 fw6" %>
      </div>
      <div class="fl w-100 pa2 f5">
        <%= f.input_field :remember_me, inline_label: 'Remember me', label: false, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="fl w-100 pa2 mt3">
        <%= f.button :submit, "Log in", class: "ph3 pv3 input-reset white bg-orange link pointer f5 fw6 dib b--none br2 hover-bg-light-red" %>
      </div>
      <div class="fl w-100 pa2">
        <%= link_to "Sign up", new_user_registration_path, class: "f6 link dim black db" %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "f6 link dim black db" %>
      </div>
    <% end %>
  </div>
</article>
<% render "devise/shared/links" %>