<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Healthy Dreamers</title>
    <meta name="description" content="A community of Healthy, Wealthy & Wise passionates">
    <meta property="fb:app_id" content="">
    <meta property="og:url" content="https://healthydreamers.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Healthy Dreamers">
    <meta property="og:image" content="https://res.cloudinary.com/healthydreamers/image/upload/v1500672903/social/share.jpg">
    <meta property="og:description" content="A community of Healthy, Wealthy & Wise passionates">
    <meta property="og:site_name" content="Healthy Dreamers">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="Healthy Dreamers">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tachyons/css/tachyons.min.css" rel="stylesheet">
  </head>
  <body class="ma0">
    <%= render partial: "partials/notice" %>
  	<%= render partial: "partials/header/header" %>
    <main class="pa5 mw7 center">
      <%= yield %>
    </main>
    <%= render partial: "partials/footer/footer" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-102570613-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
